mat-action-list .mat-list-item {
  margin: 2px 0;
  ::ng-deep .mat-list-item-content {
    padding: 10px 16px !important;
    h3 {
      font-size: 1.1em;
      text-transform: uppercase;
    }
  }
}

.search-field {
  width: 100%;
  max-width: 500px;
}

