<h1 mat-dialog-title>Edit Entry</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>Form</mat-label>
            <mat-select formControlName="form" required>
                <mat-option *ngFor="let wflow of formTriggeredWorkflows" [value]="wflow.id + '+' + wflow.formPath">
                    {{wflow.formTitle}} ({{wflow.name}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Path</mat-label>
            <input matInput formControlName="path" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.pristine"
        (click)="onSave()">Save</button>
</div>